.rss-reader {
    max-height: 200px;
    overflow: auto;
    box-shadow: 0px 0px 1px 1px rgba(0,0,0,0.4) inset;
}

.rss-reader article {
    font-size: small;
    text-align: left;
}

.rss-reader a:-webkit-any-link {
    color: green;
}

.expanded-transition {
    transition: all .5s ease;
}

.expanded-enter, .expand-leave {
    height: 0;
    opacity: 0;
}
